body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand img {
    margin-right: 10px;
  }
  .navbar .nav-link img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .navbar .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar .user-style {
    margin-left: 5px;
  }
  .navbar .nav-link {
    display: flex;
    align-items: center;
  }
  .navbar .welcome-message {
    display: flex;
    flex-direction: column; /* Change to column to stack Welcome and time vertically */
    /* font-weight: bold; */
  }
  .navbar .welcome-message img {
    margin-right: 10px;
  }
  
.user-style {
  padding-left: 10px;
  white-space: nowrap;
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prof {
  color: black;
}

.prof:hover {
  color: white;
  background-color: rgb(43, 41, 41);
}

.logout {
  color: red;
}

.logout:hover {
  background-color: red;
  color: white;
}

.dash-card:hover {
  /* background-color: rgb(25, 135, 84); */
  background-color: #1B96CE;
  color: white;
  border-radius: 3%;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.page-link {
  color: #007bff;
}
.page-link:hover {
  color: #0056b3;
}
.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}