body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
.user-style {
  padding-left: 10px;
  white-space: nowrap;
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prof {
  color: black;
}

.prof:hover {
  color: white;
  background-color: rgb(43, 41, 41);
}

.logout {
  color: red;
}

.logout:hover {
  background-color: red;
  color: white;
}

.card-body:hover {
  /* background-color: rgb(25, 135, 84); */
  background-color: #0d6efd;
  color: white;
  border-radius: 3%;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.page-link {
  color: #007bff;
}
.page-link:hover {
  color: #0056b3;
}
.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}